<h2>About the Project</h2>

<p>Cosmology is in a golden age of discovery, but a deeper understanding of what is meant by a science of cosmology, in the fuller reaches of these words, is in its infancy. It must involve astrophysics, physics, philosophy, and cosmogony, and tackle genuinely fundamental questions in cosmology.</p>

<p>This project focuses on five areas of this kind which are timely, and where Oxford and the partner institutions have particular research interests and strengths. Our work will involve both stimulating the pursuit of these questions in the longer term and by a larger audience, and researching fundamental issues in cosmology. These areas will include the following:</p>

<ol>
    <li><strong>Issues of measure, and beyond:</strong> to understand the requirements and possibilities for a probability ‘measure’ of the observed universe in some space of possibilities, including potential uses of anthropic reasoning;</li>
    <li><strong>Cosmogony:</strong> to better understand how the universe began and evolved;</li>
    <li><strong>The dark energy and dark matter problems:</strong> to understand the origin and value of the cosmological constant that appears to be responsible for the observed acceleration of the universe, and of the dark matter that constitutes the bulk of the matter in the universe;</li>
    <li><strong>Entropy, time and complexity:</strong> To deepen our understanding of gravitational entropy and information in the universe, the various arrows of time, and the growth and measures of complexity in cosmology.</li>
    <li><strong>Data science:</strong> To understand and develop new techniques for cosmology with the largest of data sets.</li>
</ol>

<p>Goals: to provide grants for young researchers in cosmology in frontier areas of research that are consistent with the scientific themes supported by the Centre, and to establish international links involving leading young researchers to develop scientific interactions and collaborations that will benefit their careers as well as enhance the scientific life of the partner institutions. Key areas of research will include particle astrophysics, galaxy formation, the early universe, and the philosophy of cosmology.</p>

<p>The grants will provide for visits of between 2 weeks and 2 months at the partner institutions. Visitors will generally not overlap at any one institution. New College will be requested to host the equivalent of a non-stipendiary Visiting Junior Research Fellow (JRF). The visitors will be invited to give an interdisciplinary talk (aimed at a broad audience) as well as a departmental seminar on their research.</p>

<p>Partner institutions: New College, Oxford University and the Oxford Department of Physics, and the Johns Hopkins University (Department of Physics and Astronomy), with additional participation by the Universite Pierre et Marie Curie (Institut d'Astrophysique), Paris. The funding been generously provided by a Balzan Foundation Award to Joe Silk, supplemented by support from the Department of Physics, Oxford University and the Johns Hopkins University.
</p>
