<h2>Contact</h2>

<h3>General enquiries</h3>

<p>For more information, general queries or to submit an application, please contact Christopher Doogue:</p>

<address>Christopher Doogue<br>Denys Wilkinson Building<br>Keble Road<br>Oxford OX1 3RH<br>UK</address>

<h3>Participating Institutions</h3>

<p>Contact information for the participating institutions can be found at the following links:</p>

<ul>
    <li><a target="_blank" href="http://www2.physics.ox.ac.uk/research/astrophysics"> Astrophysics Dept, Oxford</a></li>
    <li><a target="_blank" href="http://www.new.ox.ac.uk"> New College, Oxford</a></li>
    <li><a target="_blank" href="http://physics-astronomy.jhu.edu"> Dept of Physics and Astronomy, Johns Hopkins University</a></li>
    <li><a target="_blank" href="http://www.iap.fr"> Institut d'Astrophysique, Paris</a></li>
</ul>

<h3>Host Scientists</h3>

<p>Collaborative visits are welcomed by members of the hosting institutions including:</p>

<div class="list">
    <h4>Oxford</h4>
    <ul>
        <li><a href="mailto:steven.balbus@astro.ox.ac.uk">Steve Balbus</a></li>
        <li><a href="mailto:j.binney1@physics.ox.ac.uk">James Binney</a></li>
		<li><a href="mailto:bureau@astro.ox.ac.uk">Martin Bureau</a></li>
		<li><a href="mailto:j.conlon1@physics.ox.ac.uk">Joseph Conlon</a></li>
        <li><a href="mailto:r.davies1@physics.ox.ac.uk">Roger Davies</a></li>
        <li><a href="mailto:j.devriendt1@physics.ox.ac.uk">Julien Devriendt</a></li>
        <li><a href="mailto:j.dunkley1@physics.ox.ac.uk">Joanna Dunkley</a></li>
        <li><a href="mailto:p.ferreira1@physics.ox.ac.uk">Pedro Ferreira</a></li>
		<li><a href="mailto:matt.jarvis@physics.ox.ac.uk">Matt Jarvis</a></li>
        <li><a href="mailto:cjl@astro.ox.ac.uk">Chris Lintott</a></li>
        <li><a href="mailto:j.maggorian@physics.ox.ac.uk">John Maggorian</a></li>
        <li><a href="mailto:jmr@thphys.ox.ac.uk">John March-Russell</a></li>
        <li><a href="mailto:l.miller1@physics.ox.ac.uk">Lance Miller</a></li>
        <li><a href="mailto:silk@iap.fr">Joe Silk</a></li>
        <li><a href="mailto:a.slyz1@physics.ox.ac.uk">Adrienne Slyz</a></li>
    </ul>
</div>

<div class="list">
    <h4>Johns Hopkins</h4>
    <ul>
        <li><a href="mailto:kamion@jhu.edu">Marc Kamionkowski</a></li>
        <li><a href="mailto:dkaplan@pha.jhu.edu">David Kaplan</a></li>
		<li><a href="mailto:kapla14@jhu.edu">Jared Kaplan</a></li>
        <li><a href="mailto:jhk@pha.jhu.edu">Julian Krolik</a></li>
        <li><a href="mailto:norman@stsci.edu">Colin Norman</a></li>
        <li><a href="mailto:silk@iap.fr">Joe Silk</a></li>
        <li><a href="mailto:szalay@jhu.edu">Alex Szalay</a></li>
        <li><a href="mailto:wyse@pha.jhu.edu">Rosemary Wyse</a></li>
    </ul>
</div>

<div class="list">
    <h4>Institut d'Astrophysique</h4>
    <ul>
		<li><a href="mailto:francis.bernardeau@iap.fr">Francis Bernardeau</a></li>
        <li><a href="mailto:bouchet@iap.fr">Francois Bouchet</a></li>
        <li><a href="mailto:charlot@iap.fr">Stephane Charlot</a></li>
        <li><a href="mailto:colombi@iap.fr">Stephane Colombi</a></li>
        <li><a href="mailto:kotera@iap.fr">Kumiko Kotera</a></li>
		<li><a href="mailto:lavaux@iap.fr">Guillaume Lavaux</a></li>
        <li><a href="mailto:gam@iap.fr">Gary Mamon</a></li>
        <li><a href="mailto:mohayaee@iap.fr">Roya Mohayaee</a></li>
		<li><a href="mailto:peirani@iap.fr">Sebastian Pierani</a></li>
        <li><a href="mailto:pichon@iap.fr">Christophe Pichon</a></li>
        <li><a href="mailto:silk@iap.fr">Joe Silk</a></li>
        <li><a href="mailto:uzan@iap.fr">Jean-Philippe Uzan</a></li>
        <li><a href="mailto:vangioni@iap.fr">Elisabeth Vangioni</a></li>
        <li><a href="mailto:martav@iap.fr">Marta Volonteri</a></li>
        <li><a href="mailto:wandelt@iap.fr">Ben Wandelt</a></li>
    </ul>
</div>
