/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html
    size: 100% 100%

body
    size: 100% 100%
    webkit-tap-highlight-color: rgba(255,255,255,.2)

h1,
h2,
h3,
h4,
h5,
h6
    letter-spacing: 1px

a
    transition: color .2s ease-in-out





.btn
    border-radius: 0
    text-transform: uppercase
    font-weight: 400
    transition: all .3s ease-in-out


.btn-default
    border: 1px solid #42dca3
    color: #42dca3
    background-color: transparent


.btn-default:hover,
.btn-default:focus
    border: 1px solid #42dca3
    outline: 0
    color: #000
    background-color: #42dca3




::-moz-selection
    text-shadow: none
    background: #fcfcfc
    background: rgba(255,255,255,.2)


::selection
    text-shadow: none
    background: #fcfcfc
    background: rgba(255,255,255,.2)


img::selection
    background: 0 0


img::-moz-selection
    background: 0 0
