<div class="container">
    <div class="jumbotron-header">
        <h1>ZooTunes</h1>
        <p>Friday Spotify playlists at the Zooniverse</p>
    </div>

    <ul class="playlist-list">
        <% playlists.forEach(function (playlist) { %>
            <li>
                <span><%= playlist.date %> - </span>
                <a href="<%= playlist.uri %>"><%= playlist.theme %></a>
            </li>
        <% }) %>
    </ul>
</div>
