.content-section
    @extend .container
    padding-top: 100px

    > .content
        @extend .col-lg-8
        @extend .col-lg-offset-2

@media(min-width: 767px)
    .content-section
        padding-top: 200px
