.intro-section
    background: url('../img/intro-bg.jpg') no-repeat bottom center scroll
    background-size: cover
    display: table
    padding: 100px 0
    text-align: center
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
    size: 100% auto

    > .body
        @extend .container
        display: table-cell
        vertical-align: middle

    > .body .brand-heading
        font-size: 40px

    > .body .intro-text
        font-size: 18px
        margin-bottom: 35px

    .button
        @extend .btn
        border: 2px solid #fff
        border-radius: 100% !important
        color: #fff
        font-size: 40px
        margin-top: 15px
        padding: 7px 16px
        size: 70px 70px
        background: 0 0
        transition: background .3s ease-in-out

    .button:hover
    .button:focus
        outline: 0
        color: #fff
        background: rgba(#fff, 0.1)

    .button i.animated
        transition-property: -webkit-transform
        transition-duration: 1s

    .button:hover i.animated
        animation-name: pulse
        animation-duration: 1.5s
        animation-iteration-count: infinite
        animation-timing-function: linear


@keyframes pulse
    0%
        transform: scale(1)
    50%
        transform: scale(1.2)
    100%
        transform: scale(1)



@media(min-width: 768px)
    .intro-section
        height: 100%
        padding: 0


    .intro-section .body .brand-heading
        font-size: 70px


    .intro-section .body .intro-text
        font-size: 26px
