.navbar-custom
    margin-bottom: 0
    border-bottom: 1px solid rgba(255,255,255,.3)
    text-transform: uppercase
    background-color: #000

.navbar-custom .navbar-brand
    font-size: 16px

.navbar-custom .navbar-brand:hover
    outline: 0
    color: $link-color
    background-color: transparent

.navbar-custom .navbar-toggle
    padding: 4px 6px
    font-size: 16px
    color: #fff


.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active
    outline: 0

.navbar-custom a
    color: #fff


.navbar-custom .nav li a
    transition: background .3s ease-in-out
    font-size: 16px

.navbar-custom .nav li a:hover
    outline: 0
    color: $link-color
    background-color: transparent


.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active
    outline: 0
    background-color: transparent


.navbar-custom .nav li.active
    outline: 0


.navbar-custom .nav li.active a
    background-color: $link-color


.navbar-custom .nav li.active a:hover
    color: #fff


@media(min-width:768px)
    .navbar-custom
        padding: 20px 0
        border-bottom: 0
        letter-spacing: 1px
        background: transparent
        transition: background .5s ease-in-out, padding .5s ease-in-out


    .navbar-custom.top-nav-collapse
        padding: 0
        border-bottom: 1px solid rgba(255,255,255,.3)
        background: #000

