.organisation-member
    @extend .row
    margin-bottom: 30px


    > .image
        @extend .col-xs-2

    > .image > img
        @extend .img-responsive
        @extend .img-circle
        border: 2px solid white

    > .details
        @extend .col-xs-10
